/* XTiger Photo Plugin basic style */

div#xt-photo {
	width: 300px;
	height: 260px;
	overflow: hidden;
}

p#xt-photo-info {
	text-align: center;
	margin: 20px;
}

p#xt-photo-error {
	display: none;	
	font-family: sans-serif;
	color: red;
	margin: 20px;
}

div#xt-photo-menu {
	position: absolute;
	bottom: 20px;
	margin: 0 20px;
	text-align: center;
}

div#xt-photo img {
	max-height: 200px;
	max-width: 280px;
}
