body {
	padding: 0;
	background-color: white;
	margin: 10px 20px;
}
/* below is a trick from : http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html  
   to wrap long lines of text (note that it works in pre to display long lines of source code) */
pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}              
li {
  margin-bottom: 10px;
}
@media print {   
  body {
  	padding: 0;
  	background-color:white;
  	margin: 20px 10px;
  }          
  pre {
    text-align: justify;
    font-size: 10pt;
  }
}         
li {
  margin: 0;
}               
a:visited {
  color: blue;
}