body {
    padding: 2em;
    margin: 0;
    color: black;
    background: white;
    font-family: sans-serif;
}
h1, h2, h3 {
    font-weight: normal;
    color: rgb(0, 90, 156);
     
}
h2:before {
    content: counter(chapter) ". ";
}
h2 {
    counter-increment: chapter;
}
h1 tt, h2 tt {
  font-family: courier, monospace;
  color: rgb(0, 90, 156);
  font-weight: 500;     
  font-size: 110%;
}
tt {
    font-weight: bold;
    font-family: "Times New Roman",Times,serif;
    color: purple;
}
div.containBox .tt {
    font-weight: normal;     
}
/* markup attribute */
.attribute {
    font-weight: bold;
    font-family: "Times New Roman",Times,serif;
    color: purple;
}
/* reference to a markup element or to an identifier in a code fragment */
.identifier {
    font-style: italic;
}
/* inline code sample */
.sample {
    font-family: "Courier New",Courier,monospace;
}
div.containBox {
    border: 2px dotted gray;
    padding: 10px;
    margin: 20px 80px;
}
p.contains {
    margin: 0;
    padding: 0;
}
p.containedin {
    margin: 0;
    padding: 0;
}
div.containBox > p > span:first-child:after {
    content: " :";
}
div.containBox > p > span:first-child {
    text-decoration: underline;
    padding-right: 20px;
}
/* Code examples */
pre {
    background-color: #F0F0F0;
    border: solid thin blue !important;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}                  
div.containBox pre {
  background-color: white;
  border: none !important;
  margin: 0;
  padding: 0;
}
pre > strong {
  color: green;  
}
pre > em {
  color: blue;  
  font-style: normal;
}
/* Tables */
table {
    border-collapse: separate;
    border-style: double;
    border-color: gray;
    border-spacing: 2px;
    border-width: 2px;
}
thead {
     
}
tbody {
}
td, th {
    padding: 5px;
    background-color: #FFFFF0;
    border-style: inset;
    border-color: gray;
    border-width: 1px;
}
th {
    font-weight: bold;
}      

/* editor specific rules */
h2 {
  margin: 2em 0 1em 0;
  clear: both;
}                            
span.identifier {
  position: absolute; 
  top: 1.5em; 
  left: 0;
  font-size: 0.6em;
  color: #343434;
  display: none;
}                
h2:hover > span.identifier {
  display: inline;
}  
div.row:first-of-type {           
  clear: none;
}  
div.row {           
  clear: left;
  margin: 1em 0;
}        
span.row-menu {
  width: 80px;
  float: left;
  margin-bottom: 1em;
}
.row-content {
  margin-left: 80px;
}        
pre > textarea {
  margin: 0 !important;
  padding: 0 !important;
}            
td:not(.menu) img, th img {
  display: none;
}
td:hover img, th:hover img {
  display: inline;
}
body.preview span.row-menu {
  display: none;
}
body.preview .row-content {
  margin-left: 0;
}            
body.preview .nopreview {
  display: none;
}

/*	Printing Adjustments */
 @media print {   
  	.noprint { 
		display: none
	}	
	body {
		font: 11pt geargia, serif;
	}
    p, li, dd {
        text-align: justify;
    }
    pre, code {
		font-size: 70% !important;
	}	
	table {
		border-collapse: collapse;
	}
	.sample {
	    font-family: "Courier New",Courier,monospace;
		font-size:75%;
	}	
}